<section class="footer-container">
    <section class="footnote">
        <article class="contact-info">
            <div class="contact-card">
                <h3>CONTACT INFO</h3>
                <p class="line">
                    <img src="../../assets/icons/home.svg"><span>
                        Address: No:326, 3rd Main Road, Nehru Nagar  
                    </span>
                </p>
                <p class="line">
                    <img src="../../assets/icons/home.svg"><span>
                        OMR, Perungudi, Chennai - 600096  
                    </span>
                </p>
                <p class="line">
                    <img src="../../assets/icons/mobile.svg"><span>
                        +91 9940124893  
                    </span>
                </p>
                <p class="line">
                    <img src="../../assets/icons/phone.svg"><span>
                        +91 44 43593039   
                    </span>
                </p>
                <p class="line">
                    <img src="../../assets/icons/email.svg"><span>
                        heatech_ext@yahoo.com  
                    </span>
                </p>
            </div>
        </article>
        <article class="quick-links">
            <h3>QUICK LINKS</h3>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        Home 
                    </span>
                </p>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        About Us 
                    </span>
                </p>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        Products 
                    </span>
                </p>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        Facilities 
                    </span>
                </p>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        Careers 
                    </span>
                </p>
                <p class="link">
                    <img src="../../assets/icons/arrow.svg"><span>
                        Contact Us 
                    </span>
                </p>
        </article>
        <article class="copyright">
            <h3>COPYRIGHT</h3>
            <p>
                All the contents of this website is copyright protected to Heatech. 
            </p>
        </article>
    </section>
    <section class="footer">
        <p>&copy; Copyright - Heatech<p>
    </section>
</section>
