<section class="aboutus-container">
    <article class="aboutus-header">
        <h1>ABOUT US</h1>
    </article>
    <article class="detail">
        <div>
            Heatech Engineers manufactures cold extruded and cold forged components for various automotive anhydraulic applications. We specialise in converting components from the conventional machining and hot forging route into the cold forging route due to the established benefits of cold extrusion with respect to material saving, productivity and cost reduction.Heatech Engineers, incorporated in Chennai, India, in 1985, was primarily a  subcontract heat treatmentfacility to cater to auto component manufacturers for their Tier 1 and Tier 2 customers.
            <br/><br/>
            In the year 2000, the Company diversified into manufacture of near net shape cold extruded components with a 150 Tonne cold forging press.Today, we have expanded our cold forging capacity with additional cold extrusion presses ranging from 75 Tonnes to 150 Tonnes. Over 50 near net shaped cold extruded components ranging in weight  from 10 grams to 300 grams are currently under production catering primarily to the auto segment which is a fast expanding market in India.
            <br/><br/>
            Heatech Engineers is an ISO 9001 company, certified by TUV SUD South Asia, Member of TUV SUD Group
            <br/><br/>
            The Company is  located at Perungundi, in the suburb of Chennai, India, off the IT Highway, 15 km from the heart of the city. Its close proximity to a number of auto component manufacturers in and around Chennai is a distinct advantage. Chennai and its neighbuorhood is a very fast expanding industrial belt for various auto-component and automobile manufacturers.
        </div>
    </article>
</section>
