<div class="contactus-container">
    <article class="contactus-header">
        <h1>CONTACT US</h1>
    </article>
    <article class="contact-form">
        <div class="office-details">
            <div class="detail">
                <h4>ADDRESS</h4>
                <p>326, Nehru Nagar, 3rd main road </p>
                <p>OMR, Perungudi Post </p>
                <p>Chennai - 600096, Tamil Nadu, India </p>
            </div>
            <div class="detail">
                <h4>OFFICE HOURS </h4>
                <p>Monday - Saturday 9am to 6pm </p>
                <p>Sunday- Closed  </p>
            </div>
            <div class="detail">
                <h4>TELEPHONE  </h4>
                <p>+91-44-43593039  </p>
                <p>+91-44-24545280  </p>
            </div>
        </div>
        <div class="in-mail">
            <div class="form-control">
                <div class="label">
                    <label>Name</label>
                </div>
                <div class="input">
                    <input type="text" name="name">
                </div>
            </div>
            <div class="form-control">
                <div class="label">
                    <label>Email</label>
                </div>
                <div class="input">
                    <input type="text" name="email">
                </div>
            </div>
            <div class="form-control">
                <div class="label">
                    <label>Phone</label>
                </div>
                <div class="input">
                    <input type="text" name="phone">
                </div>
            </div>
            <div class="form-control">
                <div class="label">
                    <label>Message</label>
                </div>
                <div class="input">
                    <textarea row="5" name="message"></textarea>
                </div>
            </div>
            <button>Submit</button>
        </div>
    </article>
    
</div>
