.home-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
section {
    margin-top: 2vh;;
}
.slider {
    display: flex;
    padding: 0 0 0 0;

}
.slide  {
    display: inline-flex;
    background-color:red;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.slide img {
    width: 100%;
    height: 60vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.rotate {
    position: relative;
    width: 10vh;
    height: 10vh;
    background-color: white;
    border-radius: 20vh;
}
.rotate[role="back"]{
    top:40vh;
    left:-74%;
    background: transparent url("../../assets/web_image/back.svg") no-repeat top left;
    background-color: red;
}

.rotate[role="next"]{
    background-position: top right;
    top:40vh;
    right: -18%;
    background: transparent url("../../assets/web_image/next.svg") no-repeat top left;
    background-color: white;
}

.punch {
    position: relative;
    width: 50vh;
    height: 10vh;
    top: 20vh;
    left:-70%;
    color: white;    
}

.read-more{
    font-size: small;
    margin-top: 20%;
    border-radius: 5px;
    height: 8vh;
    width: 20vh;
    background-color: #48cfad ;
    text-align: center;
    line-height: 8vh;;
}

.basic-information{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #797979;
}

.sub-header{
    flex-grow: 1;
    text-align: center;
}

.company-basics{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    
}

.company-basics div{
    flex-grow: 1;
    flex-basis: 0;
    
}

.company-basics div{
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.company-basics div:first-child{
    margin-left: 5%;
}

.company-basics div:last-child{
    margin-right: 5%;
}



.company-basics img{
    height: 20vh;
    width: 20vh
}



@media only screen and (max-width: 400px) {
    .company-basics {
      display: inline-flex;
      flex-direction: column;
    }
  }

