<section class="home-container">
    <article class="slider">
        <div class="images-slider">
            <img src="../../assets/slider/slider_1.jpg" />
            <img src="../../assets/slider/slider_1.jpg" class="inactive" />
            <img src="../../assets/slider/slider_1.jpg" class="inactive"/>
        </div>
        <div class="navigation">
            <div class="compenents-flex">
                <!-- <div class="arrow">
                    <fa-icon [icon]="left"></fa-icon>
                </div> -->
                <div class="punch">
                    <div>
                        <h1><i>MEET THE</i><br><i>EXPERTS IN</i><br> <i>COLD FORGING</i></h1>
                        <div class="read-more" (click)="navigateTo()">READ MORE</div>
                    </div>
                </div>
                <!-- <div class="arrow">
                    <fa-icon [icon]="right"></fa-icon>
                </div> -->
            </div>
        </div>
        <!-- <div class="slide">
            <img src="../../assets/heatech/slider_1.jpeg">
            <span href="#" class="rotate" role="back"></span>
            <span href="#" class="rotate" role="next"></span>
            <article class="punch">
                <div>
                    <h2><i>MEET THE</i><br><i>EXPERTS IN</i><br> <i>COLD FORGING</i></h2>
                    <div class="read-more">READ MORE</div>
                </div>
            </article>
        </div> -->
    </article>
    <section class="basic-information">
        <article class="sub-header">
            <h1>WELCOME TO HEATECH</h1>
        </article>
        <article class="company-basics">
            <div class="vision">
                <img src="../../assets/web_image/vision.png">
                <h4>OUR VISION</h4>
                <p>Our vision is to become a tier 1 supplier to the top automotive companies in the country. We also
                    envision to build a world class organization that would serve as a example to all the other forging
                    units in the country.</p>
            </div>
            <div class="focus">
                <img src="../../assets/web_image/focus.png">
                <h4>OUR FOCUS</h4>
                <p>We focus at providing cost effective solutions to your manufactruing problems by providing a sound
                    alternative through the cold extrusion route. </p>
            </div>
            <div class="strength">
                <img src="../../assets/web_image/strength.png">
                <h4>OUR STRENGTH</h4>
                <p>Our biggest strength is our technical expertise in the field of cold forging. We are well equipped to
                    convert your existing machined components to cold forged components. </p>
            </div>
        </article>
        <article class="recent-work"></article>
    </section>
    <section class="recent-work"></section>

</section>