.home-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
section {
    margin-top: 2vh;;
}

.images-slider{
    height: 30em;
    width: 100%;
}

.images-slider img{
    height: 30em;
    width: 100%
}

.slider {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 30em;
}

.inactive {
    display: none
}

.navigation{
    position: relative;
    top:-20em;
}

.compenents-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    margin-left: 1%;
}

.arrow{
    flex-grow: 1;
    top:-100%;
}

.punch{
    margin-left: 10%;
    flex-grow: 20;
    color: white;
    font-size: 1.5em;;
}

.read-more{
    background-color: #48cfad;
    padding: 2% 2% 2% 2%;
    width: 15%;
}

.basic-information{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #797979;
}

.sub-header{
    flex-grow: 1;
    text-align: center;
}

.company-basics{
    display: inline-flex;
    justify-content: center;
    text-align: center;
    
}

.company-basics div{
    flex-grow: 1;
    flex-basis: 0;
    
}

.company-basics div{
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.company-basics div:first-child{
    margin-left: 5%;
}

.company-basics div:last-child{
    margin-right: 5%;
}



.company-basics img{
    height: 20vh;
    width: 20vh
}



@media only screen and (max-width: 400px) {
    .company-basics {
      display: inline-flex;
      flex-direction: column;
    }

    .slider{
        height: 20em;
    }

    .punch{
        font-size: 1em;
    }

    .images-slider img{
        height: 20em;
        width: 100%
    }

    .navigation{
        position: relative;
        top:-15em;
    }
  }

